{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "indent": ["error", 2],
    "sort-imports": 0,
    "eol-last": ["error", "never"],
    "max-len": ["error", {
      "code": 180
    }],
    "no-extra-parens": 0,
    "arrow-body-style": ["error", "as-needed", {
      "requireReturnForObjectLiteral": false
    }],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": 1,
    "import/prefer-default-export": 0,
    "no-confusing-arrow": 0,
    "no-const-assign": 1,
    "no-duplicate-imports": 1,
    "no-useless-computed-key": 1,
    "no-useless-constructor": 1,
    "no-useless-rename": 1,
    "no-var": 1,
    "object-shorthand": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-destructuring": ["warn", {
        "array": false,
        "object": false
      }, {
        "enforceForRenamedProperties": false
    }],
    "prefer-template": 1,
    "rest-spread-spacing": 1,
    "template-curly-spacing": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "no-undef": 1,
    "no-mixed-operators": 0,
    "import/no-dynamic-require": 0,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "varsIgnorePattern": "React" }],
    "global-require": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-spacing": ["error", "always", {
      "allowMultiline": false
    }],
    "import/extensions": 0,
    "import/no-unresolved": ["error", {
      "ignore": [
        "^@"
      ]
    }],
    "quote-props": ["error", "always"]
  },
  "globals": {
  },
  "plugins": [
  ]
}