$c-white: #FFFFFF;
$c-pbxgreen: #00FC35;
$c-pbxblue: #262935;
$c-darkgrey: #3B4153;
$c-midgrey: #626681;
$c-lightgrey: #B9BBC9;
$c-lightestgrey: #DFE0EC;
$c-subtlegrey: #EFF0F5;
$c-darkgreen: #043C2B;
$c-green: #07503A;
$c-darkorange: #F4452D;
$c-orange: #EA6B4C;
$c-deeppurple: #2D1C33;
$c-purple: #513E58;
$c-darkblue: #0269B2;
$c-blueribbon: #005EEC;
$c-cornflowerblue:#4A97EF;
$c-blue: #179FFF;
$c-darkyellow: #DC9602;
$c-yellow: #F5B223;
$c-red: #E3221B;